@import "_theme";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.article-card {
  border-bottom: 2px solid whitesmoke;
  padding: 25px 0;
  a {
    font-size: 15px;
    color: cornflowerblue;
    text-decoration: none;
  }
  .article-meta {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #8e99a1;
    line-height: 1.2em;
    .article-date {
      &::after {
        content: "";
        width: 5px;
        height: 5px;
        position: relative;
        top: -3px;
        margin: 0 7px;
        border-radius: 50%;
        opacity: 0.2;
        display: inline-block;
      }
    }
  }
  .article-title {
    display: inline-block;
    font-size: 1.3rem;
    margin: 3px 0;
    a {
      color: #333;
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
  .article-body {
    text-align: justify;
    font-weight: 300;
    color: #5d686f;
    word-break: break-word;
    font-size: 16px;
  }

  @media screen and (max-width: 426px) {
    .article-title {
      a {
        font-size: 1.2rem;
        padding: 5px 0;
        display: inline-block;
      }
    }
    .article-body {
      font-size: 15px;
      text-align: left;
    }
  }
}
