@import "_theme";

.article-card {
	border-bottom: 2px solid whitesmoke;
	padding: 25px 0;
	.article-date {
		&::after {
			content: "";
			width: 5px;
			height: 5px;
			position: relative;
			top: -3px;
			margin: 0 7px;
			border-radius: 50%;
			background-color: $dark-color;
			opacity: 0.2;
			display: inline-block;
		}
	}
	.article-title {
		display: inline-block;
		&:hover {
			color: $cyan-color;
			cursor: pointer;
		}
	}
	.article-body {
		font-size: 1.1em;
		text-align: justify;
	}

	@media screen and (max-width: 426px) {
		.article-meta {
			font-size: 13px;
		}
		.article-body {
			font-size: 15px;
			text-align: justify;
			line-height: 1.5em;
		}
	}
}