@import "_theme";

.footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0;
  .footer-credits {
    font-size: 15px;
    padding-top: 15px;
    font-weight: bold;
    color: #8e99a1;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    li:not(:last-child) {
      &::after {
        content: "";
        display: inline-flex;
        width: 5px;
        margin: 0 15px;
        position: relative;
        top: -2px;
        height: 5px;
        border-radius: 50%;
        background: $dark-color;
        opacity: 0.2;
      }
    }
  }
  .heart-emoji {
    font-size: 21px;
    color: $cyan-color;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    li {
      background: whitesmoke;
      padding: 7px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li:not(:last-child) {
      margin-right: 15px;
    }
  }
}
