@import "_reset.scss";
body {
	margin: 0;
	color: #333333;	
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.dflex {
	display: flex;
}

.text-center {
	text-align: center;
}

.align-items-center {
	align-items: center;
}

.main-layout-body {
	padding: 70px 0;
	min-height: calc(82vh);
	max-width: 800px;
}

h1 { 
    display: block;
    font-size: 2em;
    margin: 0.5em 0;
    font-weight: bold;
}

p {
	margin: 20px 0;
	line-height: 1.6em;
}

@media screen and (max-width: 1441px) {
	.container {
		max-width: 80%;
	}
	.main-layout-body {
		max-width: 80%;
	}
}

@media screen and (max-width: 426px) {
	.container {
		max-width: 90%;
	}

	.main-layout-body {
		max-width: 90%;
		padding: 30px 0;
	}

	h1 {
		font-size: 1.4em;
	}
}
