/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  color: #333333;
  font-family: "Merriweather", serif;
  line-height: 1.9em !important;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.black-link {
  color: #333333 !important;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-layout-body {
  padding: 70px 0;
  min-height: calc(82vh);
  max-width: 968px;
}

.fit-main-layout {
  max-width: 968px;
}

.twitter-share {
  background-color: #1b95e0;
}

.facebook-share {
  background-color: #4267b2;
}

.social-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 12px;
  font-family: "Droid Sans";
  text-decoration: none;
  color: white;
  margin-right: 7px;
  border-radius: 2px;
}

.social-button svg {
  margin-right: 5px;
}

h1 {
  display: block;
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

p {
  margin: 20px 0;
}

*::-moz-selection {
  background-color: #381c35;
  color: white;
}

*::selection {
  background-color: #381c35;
  color: white;
}

.related-posts {
  padding: 30px 0px 20px 0;
  font-weight: bold;
  font-size: 1.1em;
}

@media screen and (max-width: 1441px) {
  .container {
    max-width: 85%;
  }
  .main-layout-body {
    max-width: 85%;
  }
  .fit-main-layout {
    max-width: 85%;
  }
}

@media screen and (max-width: 426px) {
  .container {
    max-width: 90%;
  }
  .main-layout-body {
    max-width: 90%;
    padding: 30px 0;
  }
  .fit-main-layout {
    max-width: 90%;
  }
  h1 {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=main.css.map */