.pagination-wrapper {
  display: flex;
  padding-top: 30px;
  font-size: 14px;
  .page-count {
    flex-grow: 1;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: #333333;
  }
  .paginate {
    &::after {
      content: "";
      display: block;
    }
  }
}
