@import "_theme";
.article-main-body {
  font-weight: 300;
  color: #5d686f;
  word-break: break-word;
  font-size: 15px;
}
.credits {
  height: 270px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  margin-bottom: 10px;
}
.post-body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 70px;
  padding: 50px 0;
  .article-main {
    a {
      text-decoration: none;
      color: #349ef3;
      word-break: break-word;
    }
    img {
      width: 100%;
      margin: 10px 0;
    }
    h1 {
      margin: 0;
      font-size: 1.2em;
      text-align: left;
    }
    .article-title {
      font-size: 1.2em;
      text-align: left;
    }
    .article-tags {
      padding-top: 10px;
      .tag {
        color: #8e99a1;
        font-size: 14px;
      }
      ul {
        padding-top: 5px;
        a {
          margin-right: 8px;
        }
        li {
          padding: 1px 15px;
          display: inline-flex;
          color: cornflowerblue;
          font-size: 14px;
          border-radius: 3px;
          text-transform: lowercase;
          border: 1px solid cornflowerblue;
        }
      }
    }
    .article-meta {
      .post-date {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
      }
      .meta-flex {
        display: flex;
        align-items: center;
        .post-meta-extra {
          display: flex;
        }
        .author-details {
          display: flex;
          margin-right: 10px;
          align-items: center;
          .author-photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .author-name {
            margin-left: 5px;
            font-weight: bold;
            font-size: 16px;
            display: flex;
            align-items: center;
            &::after {
              content: "";
              display: block;
              margin-left: 10px;
              width: 5px;
              height: 5px;
              background: $dark-color;
              opacity: 0.2;
              border-radius: 50%;
            }
          }
        }
        .date {
          display: flex;
          align-items: center;
          &::after {
            background: $dark-color;
            opacity: 0.2;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin: 0 10px;
            content: "";
            display: inline-block;
          }
        }
      }
      .tags {
        display: flex;
        margin: 10px 0;
        li {
          border: 1px solid $primary-color;
          color: $primary-color;
          font-size: 12px;
          padding: 0px 15px;
          height: 2em;
          border-radius: 18px;
        }
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
  .disqus-wrapper {
    margin-top: 50px;
    border-top: 2px solid whitesmoke;
    padding-top: 25px;

    iframe:first-child {
      height: 350px !important;
    }
  }
}

@media screen and (max-width: 1025px) {
  .post-body {
    grid-template-columns: 100%;

    aside {
      margin-top: 25px;
    }
  }
}
aside {
  text-align: justify;
}

@media screen and (max-width: 426px) {
  .container {
    max-width: 90%;
  }

  .main-layout-body {
    max-width: 90%;
    padding: 30px 0;
  }

  h1 {
    font-size: 1.4em;
  }
}
